color-bg = white
color-text = rgb(90, 90, 90)
color-text-light = rgb(180, 180, 180)
color-1 = rgb(226, 78, 66)
color-1-accent = white
color-2 = rgb(233, 176, 0)
color-2-accent = white
color-3 = rgb(235, 110, 128)
color-3-accent = white
color-4 = rgb(148, 97, 142)
color-4-accent = white
color-5 = rgb(0, 143, 149)
color-5-accent = white