@import '../shared/style/breakpoints'
@import '../shared/style/colors'

.description
    max-width 25vw

@media (min-width: breakpoint-lg)
    .description
        font-size 1vw

.button
    display inline-block
    background-color color-5-accent
    color color-5
    text-transform uppercase
    padding 0.7rem 1.4rem
    margin-top 1rem1rem