@import '../shared/style/defaults'
@import '../shared/style/fonts'
@import '../shared/style/colors'

.container
    background-color color-bg
    color color-text
    font font-default
    position fixed
    top 0
    right 0
    bottom 0
    left 0