@import '../shared/style/breakpoints'

.avatar
    border-radius 50%
    width 15vw

.description
    max-width: 25vw

@media (min-width: breakpoint-lg)
    .description
        font-size 1vw
