heading-font = Lobster, cursive
text-font = Raleway, helvetica, sans-serif


body
  font-family text-font
  font-size 1.4rem


h1
h2
h3
h4
h5
h6
.h1
.h2
.h3
.h4
.h5
.h6
  font-family heading-font
  font-weight normal


h1
.h1
  font-size: 3rem


ratio(width, height)
  .ratio-{width}x{height}
    padding-bottom percentage(height / width)
    {block}


+ratio(3, 2) {}
+ratio(16, 9) {}
+ratio(21, 9) {}
